<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<!-- McCaffe Security -->
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>