@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('dist/fonts/glyphicons-halflings-regular.eot');
  src: url('dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

img {
  overflow:hidden;
}

html,
body{
  margin: 0px;
  overflow: none;
  background-color: #0d0d0d;
  color: #fff;
  z-index: -1;
}

.padding {
  margin: 0 !important;
  padding: 0 !important;
}

.margin {
  margin: 0 !important;
}

.hidden {
  display: none;
}

.logo-text {
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #fff;
}

.logo-normaltext {
  padding: 0;
}

.logo-smalltext {
  color: #fff;
  background: #d80000;
  padding: 0 5px;
}

.logo-text {
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #fff;
}

.logo-normaltext {
  padding: 0;
}

.logo-smalltext {
  color: #fff;
  background: #d80000;
  padding: 0 5px;
}

/* MENU - Links */
nav {
    font-family: 'Lato', sans-serif;
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

nav li {
    padding: 20px;
    margin-left: -3px;
}

nav li:hover {
    background-color: #d80000;
    border-bottom: 1px solid #d80000;
}

nav .active {
    background-color: #d80000;
    border-bottom: 1px solid #d80000;
}

.navbar {
  color: #fff !important;
}

.navbar-toggler {
  color: #ffffff !important;
}

.show .nav-item {
  text-align: center !important;
}

.show .navlink {
    padding: 0 !important;
    margin-left: 0 !important;
}

.show .me-4 {
    margin-right: 0 !important;
}

.bi .bi-list {
    color: #ffffff;
}

.copy-text {
	padding: 10px;
	background: #5784f5;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.copy-text:active {
	background: #809ce2;
}
.copy-text:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0px;
	background: #5c81dc;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copy-text:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;
	height: 10px;
	background: #5c81dc;
	transform: rotate(45deg);
	display: none;
}
.copy-text.active:before,
.copy-text.active:after {
	display: block;
}

.footer{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-align: center;
}

.footer a{
  color: #d30000;
}