.downloads {
    padding-top: 20px !important;
  }
  
  .downloads tbody .table-dark {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
  }
  
  .downloads td a:hover{
    color: #772953 !important;
  }