.home .col-sm-6 {
    padding-left: 0px !important;
  }
  
  .home-small-img {
    height: 100% !important; 
    width: 100% !important;
  }
  
  .home-small-img img {
    height: 100% !important;
    background-size:cover;
    background-position:50% 50%;
  }
  
  .mask-overlay {
    position: relative;
    display: inline-block;
    overflow: clip;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  
  .mask-overlay img {
    width: 100% !important;
    transition: transform 1s ease-in-out;
    transform-origin: 50% 50%;
  }
  
  .mask-overlay:hover img {
    transform: scale(1.2);
    width: 100% !important;
  }
  
  .mask-overlay:hover {
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
    opacity:0.7;
  }
  
  .mask-overlay:focus {
    animation-play-state: paused;
    opacity: 0.7;
  }
  
  .mask-overlay:after{
    content: "";
    background: -webkit-linear-gradient(130deg, rgba(67,9,242,0.35) 0%, rgba(242,0,238,0.44) 90%);
    background: linear-gradient(130deg, rgba(67,9,242,0.35) 0%, rgba(242,0,238,0.44) 90%);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  
  .postHome {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  
  .postDateHomeBig {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1vw;
  }
  
  .postTitleHomeBig {
    position: absolute;
    left: 10px;
    top: 75%;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
  }
  
  .postDescHomeBig {
    position: absolute;
    left: 30px;
    top: 90%;
    font-size: 1.3vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  
  .postTitleHomeSmall {
    position: absolute;
    left: 10px;
    top: 60%;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
  }
  
  .postDescHomeSmall {
    position: absolute;
    left: 30px;
    top: 85%;
    font-size: 1.3vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  
  .text-bg-secondary {
    background-color: #5E2750 !important;
  }
  
  .card-body {
    background-color: #772953 !important;
  }
  
  .card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  
  .card-date {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.8vw;
  }
  
  .card-text {
    color: #AEA79F !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }