  .homeFullPost {
    /*background-color: #772953 !important;*/
    margin-top: 40px;
    margin-bottom: 20px;
    
  }
  
  .homeFullPost a {
    color: #772953 !important;
  }

  .homeFullPostText em img {
    width: 100% !important;
    height: auto;
  }
  
  .homeFullPost strong img{
    max-width: 100%;
    height: auto;
  }

  .homeFullPost img .centered{
    display: block;
    max-width: 100% !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .homeFullPost ul li code{
    font-size: 15px !important;
    color: #772953 !important;
  }
  
  .homeFullPost pre {
    display: block;
    word-wrap: break-word;
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
    padding: 18px;
    background-color: #262626;
    color: #28a745;
    position: relative;
  }
  
  .homeFullPost p code {
    word-wrap: break-word;
    font-family: Courier, 'New Courier', monospace;
    padding: 10px;
    color: #fff;
  }
  
  .homeFullPostTitle {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .homeFullPostDate {
    font-family: 'Lato', sans-serif;
    text-align: left !important;
    font-weight: 300;
    font-size: 12px !important;
    font-style: italic;
    margin-bottom: 1rem;
  }
  
  .homeFullPostText {
    font-family: 'Lato', sans-serif;
    text-align: left !important;
    font-weight: 300;
    font-size: 18px;
  }
  
  .release {
    height: auto !important;
    width: auto !important;
  }